//Profile config names for nf-core/configs
params {
	// Specific nf-core/coinfigs params
	config_profile_contact = 'Jedrzej Chrzanowski (jedrzej.chrzanowski@umed.lodz.pl)'
	config_profile_description = 'nf-core/hlatyping docker tmp mounted profile provided by JC'
}

docker {
	docker.enabled = true
	docker.runOptions = '-u \$(id -u):\$(id -g)'
	temp = '/data-onix/Projekty/am_storage-2/analysis/tmp'
}
